.Titels {
    font-family:calibri;
    font-size:25px;
    margin-left: 5px;
  }
  .Intro {
    font-family:calibri;
    font-size: 23px;
    margin-left: 5px;
  }
  .Teksten {
    margin-left:30px;
    font-size: 20px;
    font-family:calibri;
  }
  .Images {
    width: 15%;
    height: auto;
    margin-left:30px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: radius 2px;
}
    .Footer {
      margin-left: 10px;
      position: fixed;
      left: 0;
      background-color: ghostwhite;
      width: 100%;
      text-align: center;
}
    .scroller {
      margin-left: 100px;
      width: 700px;
      height: 700px;
      overflow-y: scroll;
      scrollbar-width: thin;
    }